* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
}
header{
    padding: 10px;
    font-weight: bolder;
    background-color: green;
    position: sticky;
    top: 0;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.headb{
background-color: forestgreen;
padding: 20px;
}
.headb span{
    color: rgb(239, 243, 239);
}



nav {
    display: block;
    text-align: center;
}

nav li {
    padding: 1% ;
    list-style-type: none;
    display: inline-block;
}

nav li a {
    color: var(--NAV-COLOUR);
    text-decoration: none;
}

nav li a:hover {
    color: rgba(245, 222, 179, 0.753);
    border-bottom: 1px solid rgba(245, 222, 179, 0.753);
    border-top: 1px solid rgba(245, 222, 179, 0.753);
}

main div {
    display: inline-block;
    width: 30%;
    border: 2px solid black;
    margin: 20px ;
    line-height: 30px;
}

@media(max-width:1100px) {
    main div {
        width: 40%;
    }
}

@media(max-width:810px) {
    main div {
        display: block;
        width: 90%;
    }
}